@{
    ViewBag.Title = "Index";
    //Layout="~/Views/_LayoutMobile.cshtml";
}


<script src="~/Content/jquery-1.11.1.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Site.css">



<div class="mob_back">

</div>

    <div class="main-buttons">
        
        <div class="main-btn" id="login" align="center">Մուտք</div>
        <div class="main-btn" id="register" align="center">Գրանցվել</div>
            <div class="main-btn" id="spec_register" align="center">Հավատարիմ հաճախորդ </div>
        
    </div>

<div class="main-buttons_krug">

    <div  id="login_krug"></div>
    <div  id="register_krug"></div>
    <div  id="spec_register_krug"> </div>

</div>

<script type="text/javascript">
    $('#login').click(function () {
        window.location = "/Home/Login";
    });
    $('#register').click(function () {
        window.location = "/Home/Registration";
    });
    $('#spec_register').click(function () {
        window.location = "/Home/SpecialRegistration";
    });
</script>